* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif, 'Open Sans', 'Helvetica Neue';
}

html {
    scroll-behavior: smooth;
}

body {
    background: linear-gradient(145deg, rgb(40, 9, 85), rgb(14, 14, 52), rgb(169, 4, 25));
    color: #fff;
}
