.Homepage {
    .Hero {
        height: 90dvh;
        display: flex;
        align-items: center;
        justify-content: center;

        .container {
            text-align: center;

            .image {
                img {
                    height: 120px;
                }
            }

            h1 {
                font-size: 2.5em;
            }

            .hero_btn {
                margin: 2em 0;
                a {
                    text-decoration: none;
                    background: #fff;
                    color: #000;
                    font-weight: bold;
                    font-size: 1.2em;
                    padding: 8px 32px;
                    border-radius: 32px;
                }
            }
        }
    }
}
